@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



@theme {
  /* PRIMARY FONT */
  --font-bebas: "Bebas Neue", sans-serif;

  /* SECONDARY FONT */
  --font-barlow: "Barlow", sans-serif;
  --font-sans: "Outfit", sans-serif;

  /* TEXT COLORS */
  --color-text-primary: #F6C515;
  --color-text-secondary: #05201f;

  /* PRIMARY BACKGROUND COLOR */
  --color-bg-primary: #0E5F5B;
}

@layer utilities {

  /* PRIMARY TEXT SHADOW */
  .text-shadow-3d {
    text-shadow: 1px 1px 0 #000,
      2px 2px 0 #000,
      3px 3px 0 #000,
      4px 4px 0 #000,
      5px 5px 0 #000,
      6px 6px 0 #000;
  }

  .text-shadow-white {
    text-shadow: 1px 1px 0 #fff,
      2px 2px 0 #fff,
      3px 2px 0 #fff,
      4px 2px 0 #fff,
      5px 2px 0 #fff,
      6px 2px 0 #fff;
  }
}